.header_container {
  padding: 1em;
  background-color: var(--redColorDark);
  margin-bottom: 1em;
  transition: transform .4s;
  z-index: 9;

  @media (width <= 992px) {
    position: absolute;
    max-width: 60%;
    margin: 0;
    top: 10%;
    left: 0;
    clip-path: polygon(0 0, calc(100% + 50px) 0, calc(100% + 50px) calc(80% - 25px), calc(100% - 25px) 100%, 0 100%);
    transform: translateX(-100%);
  }

  &.open {
    transform: translateX(0);

    .menu_toggle {
      transform: rotateZ(180deg);
    }
  }

  .menu_toggle {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--redColorDark);
    padding: 2px;
    color: #fff;
    transition:  background-color .2s, transform .4s;
    cursor: pointer;
  
    &:hover {
      background-color: var(--redColor);
    }

    @media (width <= 992px) {
      display: initial;
    }
  }

  nav {
    display: flex;
    justify-content: space-around;

    .link {
      text-decoration: none;
      text-align: center;
      color: #fff;
      padding: .5em 1em;
      background-color: var(--redColor);
      clip-path: var(--defaultBlockWrapper);
      transition: background-color .2s;

      &:hover,
      &.selected {
        background-color: #fff;
        color: var(--redColor)
      }

      @media (width <= 992px) {
        width: 100%;
      }
    }

    
    @media (width <= 992px) {
      height: 20dvh;
      flex-direction: column;
      align-items: center;
    }
  }
}

